{% extends 'base.html.twig' %}

{% block body %}
    <h1>Terms and conditions</h1>
    <ol>
        <li>Don't cause trouble with other players.</li>
        <li>Do not impersonate Moderators or Administrators.</li>
        <li>Do not cheat using IP proxies and time editing. Every attempt for a cheat will result into an instant ban!</li>
        <li>Have fun and enjoy the game.</li>
        <li>By submiting the form you agree that we can use the personal data you provide.</li>
    </ol>
{% endblock %}
