{% extends 'base.html.twig' %}

{% block body %}
    <h1>Terms and conditions</h1>
    <ol>
        <li>Don't make conflicts with other players</li>
        <li>Be friendly</li>
        <li>Do not use proxy servers to help your game</li>
        <li>Every attempt for a cheat will result into an instant ban!</li>
        <li>Have fun</li>
        <li>By submiting the form you agree that we can use your personal data</li>
    </ol>
{% endblock %}