{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <a class="text-center btn btn-danger" href="{{ path('register_page') }}">Start racing now! Earn fame and money!</a>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h1>Do you want to win the Piston Cup?</h1>
            <ol>
                <li>Race with lots of other people</li>
                <li>Customize your cars</li>
                <li>Earn money</li>
                <li>Earn fame</li>
                <li>Become faster</li>
                <li>Become the champion</li>
            </ol>
        </div>
        <div class="col-sm-4">
            <h2>Search for player...</h2>
            <form method="post">
                <input type="text" name="playerName" placeholder="Username">
                <input type="submit" value="Find" class="btn btn-danger">
            </form>
        </div>
    </div>
{% endblock %}

