{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <a class="text-center btn btn-danger" href="{{ path('register_page') }}">Start racing now! Win fame and a lot of money!</a>
    </div>
    <h1>Do you want to win the Piston Cup?</h1>
    <ol>
        <li>Race with a lot of people</li>
        <li>Change your cars</li>
        <li>Earn money</li>
        <li>Become faster</li>
        <li>Earn fame</li>
        <li>Become the champion</li>
    </ol>
{% endblock %}

